*.iml
.gradle
/local.properties
*.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/appsistedparking/local.properties
app/appsistedparking/gradlew
app/appsistedparking/gradlew.bat
app/appsistedparking/gradle.properties
app/appsistedparking/gradle/
app/appsistedparking/.gradle
app/appsistedparkingout/
app/appsistedparking/gradle/wrapper/
app/appsistedparking/app/.gitignore
app/appsistedparking/app/build/

service/appsisted-parking/.mvn/
service/appsisted-parking/mvnw
service/appsisted-parking/mvnw.cmd
service/appsisted-parking/target
